@charset "utf-8";

.ex1{padding-left:20px; color:red;}
.ex1 li{text-indent:1em;}
.ex1 li:first-child{background-color:#99ff33;}
.ex1 li:nth-child(2){background-color:#333333;}
.ex1 li:nth-child(3){background-color:#999999;}
.ex1 li:last-child{background-color:#eaeaea;}

#ex2{border-collapse:collapse; font:normal 12px/1.5em "Arial","sans-serif;"}
#ex2 th, #ex2 td{border:1px solid #333333; width:100px; height:20px;}
#ex2 th{background-color:#eaeaea;}
#ex2 td{text-align:center;}















